<template>
<div id="stream">
  <div class="row">
    <div class="col-md-3">
      <div id="profile">
          <profileSidebar v-bind:account="account"/>
      </div>
    </div>
    <div class="col-md-9">
      <profileHeader v-bind:account="account" v-bind:relations="relations"/>
      <div class="stream">
          <StreamActivity v-for="activity in activities" :activity="activity" v-if="activity.visibility === 'public' || activity.visibility !== 'public' && isLoggedIn"/>
      </div>
    </div>
  </div>
</div>
</template>

<script>
// To do: Move API into APIService, remove axios call and variable definitions from
// template files. At least it's coming together!
import profileAPI from '@/services/api/profile.js'
import StreamActivity from '@/components/status/stream_activity'
import profileSidebar from '@/components/profile/profile_sidebar'
import profileHeader from '@/components/profile/profile_header'
export default {
  name: 'Profile',
  components: {
    profileSidebar, profileHeader, StreamActivity
  },
  data () {
    return {
      loaded: false,
      account: [],
      activities: [],
      relations: []
    }
  },
  methods: {
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    }
  },
  // Fetches posts when the component is created.
  mounted () {
    (async () => {
      profileAPI.getRelationship(this.$route.params.uid).then(res => {
        this.relations = res.data
      })
      profileAPI.getBio(this.$route.params.uid).then(res => {
        this.account = res.data
      })
      profileAPI.getActivities(this.$route.params.uid).then(res => {
        this.activities = res.data
        this.loaded = true
      })
    })()
  }
}
</script>
