<template>
  <div id="container" class="container-fluid" data-template="single-post-viewer">
  <div id="single-post-container" class="container">
    <div class="row">
    <div id="single-post-content" class="col-md-6 single-post-content">
      <div class="framed-content border">
        <div class="head clearfix">
          <div class="col-md-12">
            <div class="row">

              <div id="post-info" class="col-md-8">
                    <div class="img pull-left">
                      <div class="account-data" v-if="activity.reblog">
                        <a :href="`/people/${activity.reblog.account.id}`">
                        <img :src="activity.reblog.account.avatar" class="avatar medium"></img></a>
                      </div>
                      <div class="account-data" v-else>
                        <a :href="`/people/${activity.account.id}`">
                        <img :src="activity.account.avatar" class="avatar medium"></img></a>
                      </div>
                  </div>
                    <div class="bd">
                    <span class="author">
                      <div class="account-name" v-if="activity.reblog">
                        <a class="author-name" :href="`/people/${activity.reblog.account.id}`" v-html="accountEmoji(activity.reblog.account.display_name)"></a>
                      </div>
                      <div class="account-name" v-else>
                        <a class="author-name" :href="`/people/${activity.account.id}`" v-html="accountEmoji(activity.account.display_name)"></a>
                      </div>
                    </span>
                    <div class="info">
                      <div class="visibility" v-if="activity.visibility === 'public'">
                        <i class="icon-globe" v-b-tooltip.hover title="Public"></i>
                      </div>
                      <div class="visibility" v-else>
                        <i class="icon-lock" v-b-tooltip.hover title="Limited"></i>
                      </div>
                      <a class="post-time" :href="activity.url" v-b-tooltip.hover :title="niceFormat(activity.created_at)">{{fuzzyFormat(activity.created_at)}}</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div id="body" class="body clearfix">
            <div id="real-post-content" class="post-content col-md-12">
              <div data-template="status-message">
                <div class="activity-content" v-html="statusEmoji(activity.content)"></div>
                  <PollEmbed v-bind:activity="activity"/>
                <div class="media-attachments" v-if="activity.media_attachments">
                  <MediaAttachment v-for="attachment in activity.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div id="single-post-interactions" class="col-md-6 single-post-content">
        <div class="framed-content" data-template="single-post-interactions">
          <div id="interaction-counts">
            <div data-template="single-post-interaction-counts">
              <div id="reshares" class="clearfix">
                <div class="count">
                  <i class="icon-retweet"></i>
                  <span>{{activity.reblogs_count}}</span>
                </div>
                  <div class="interaction-avatars">
                    <div class="interaction" v-for="reshare in reshares">
                      <a :href="reshare.url">
                        <img :src="reshare.avatar" class="avatar rounded border" width="20" height="20" v-b-tooltip.hover :title="reshare.display_name"></img>
                      </a>
                    </div>
                  </div>
              </div>
              <div id="likes" class="clearfix">
                <div class="count">
                  <i class="icon-heart"></i>
                  <span>{{activity.favourites_count}}</span>
                </div>
                <div class="interaction-avatars">
                  <div class="interaction" v-for="like in likes">
                    <a :href="like.url">
                      <img :src="like.avatar" class="avatar rounded border" width="20" height="20" v-b-tooltip.hover :title="like.display_name"></img>
                    </a>
                  </div>
                </div>
              </div>
              <div id="comments-meta" class="clearfix">
                <div class="count">
                  <i class="icon-comment"></i>
                <span>{{activity.replies_count}}</span>
                </div>
              </div>
            </div>
          </div>
          <div id="comments">
            <ul v-if="contexts" class="list-group">
              <div class="comments">
                <Context v-for="context in contexts.descendants" v-bind:context="context" v-bind:activity="activity"/>
              </div>
            </ul>
            <Composer v-if="isLoggedIn"/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</template>

<script>
import Context from '@/components/status/context'
import profileAPI from '@/services/api/profile.js'
import activityAPI from '@/services/api/activity.js'
import MediaAttachment from '@/components/embeds/media-attachment'
import PollEmbed from '@/components/embeds/poll'
import Composer from '@/components/composer'
export default {
  name: 'SinglePostView',
  components: { MediaAttachment, Context, PollEmbed, Composer },
  props: ['id', 'status'],
  data () {
    return {
      activity: [],
      contexts: [],
      likes: [],
      reshares: []
    }
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    }
  },
  methods: {
  },
  // Fetches posts when the component is created.
  mounted () {
    (async () => {
      // This is way better, not really sure how to reduce it any further.
      activityAPI.getStatus(this.$route.params.id).then(res => {
        this.activity = res.data
      })
      activityAPI.getContext(this.$route.params.id).then(res => {
        this.contexts = res.data
      })
      activityAPI.getFavorites(this.$route.params.id).then(res => {
        this.likes = res.data
      })
      activityAPI.getReshares(this.$route.params.id).then(res => {
        this.reshares = res.data
      })
    })()
  }
}
</script>

<style>
.framed-content {
  background-color: #fff;
}
#single-post-content .head {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
#single-post-content .body {
    padding: 20px 0px;
    font-size: 13px;
    text-align: left;
}
.avatar.medium {
  height: auto;
  max-width: 75px;
  width: auto;
  border-radius: 5px;
  vertical-align: top;
}
a.author-name {
  color: #2b2b2b;
  text-decoration: none;
}

.visibility {
  display: inline-block;
  vertical-align: middle;
}

a.post-time {
  color: #999;
  vertical-align: middle;
}
#single-post-content .head #post-info .bd {
  padding-left: 80px;
  text-align: left;
  font-size: 13px;
}
.pull-left {
  float: left !important;
}

.media-attachments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#single-post-interactions .count i {
    display: inline-block;
    text-align: center;
    width: 25px;
    vertical-align: middle;
    color: #aaa;
    font-size: 1.5rem;
}

#interaction-counts {
  text-align: left;
  margin-left: 7px;
  font-size: 12px;
}

#comments {
  text-align: left;
  font-size: 14px;
}

#comments .publisher_avatar {
    display: inline-block;
    vertical-align: top;
    float: none !important;
    width: 40px;
}

#comments .publisher {
    color: #999;
    margin-left: auto;
    margin-bottom: 20px;
    display: inline-block;
    width: 89%;
    margin-right: auto;
}

#comments .main-stream-publisher .avatar {
    height: 40px;
    width: auto;
}

#comments .main-stream-publisher {
    border-top: 1px solid #ddd;
    padding: 20px 5px 0px 10px;
}

#comments .comment {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.focused {
  border-left: 3px solid #3f8fba;
  padding-left: 3px;
}

a.u-url.mention, a.hashtag {
  color: #3f8fba;
}

a.hashtag {
  font-weight: 800;
}

.interaction {
  display: inline-block;
  margin: 2px;
}

.count {
  display: inline-block;
  max-width: 13%;
  min-width: 10%;
}

.interaction-avatars {
  display: inline-block;
  max-width: 85%;
  vertical-align: top;
  margin-top: 10px;
}
</style>
