<template>
    <div class="status" v-if="activity.in_reply_to_id == null">
      <router-link :to="`/people/${activity.account.id}`">
        <img :src="activity.account.avatar" class="avatar">
      </router-link>
      <div class="status-body">
        <div class="byline">
          <a class="author-name" :href="`/people/${activity.account.id}`" v-html="accountEmoji(activity.account.display_name)"></a>
          <router-link :to="`/status/${activity.id}`" tag="a" class="timestamp"
          v-b-tooltip.hover :title="niceFormat(activity.created_at)">{{fuzzyFormat(activity.created_at)}}</router-link>
        </div>
        <div class="content_reveal" v-if="activity.spoiler_text">
        <b-button v-b-toggle="activity.id" class="m-1 btn-cw" v-html="statusEmoji(activity.spoiler_text)"></b-button>
        <div class="body-inner" id="statusBody" >
          <b-collapse :id="activity.id">
            <p v-html="statusEmoji(activity.content)"></p>
            <MediaAttachment v-for="attachment in activity.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
          </b-collapse>
        </div>
      </div>
      <div class="content_reveal" v-else >
        <p v-html="statusEmoji(activity.content)"></p>
          <PollEmbed v-bind:activity="activity" v-if="activity.poll"/>
        <MediaAttachment v-for="attachment in activity.media_attachments" v-bind:key="attachment.id" v-bind:attachment="attachment" v-bind:sensitive="activity.sensitive" />
      </div>
        <div class="status-footer">
          <div class="visibility" v-if="activity.visibility === 'public'">
            <span>Public</span>
          </div>
          <div class="visibility" v-else>
            <span>Limited</span>
          </div>
            <div class="action-links">
             –
              <a @click='setLike()' class="like" ref='likeToggle' rel="nofollow">
                <div v-if="activity.favourited === true">
                Unlike
              </div>
              <div v-else>
                Like
              </div>
              </a>
            <div class="reshare" v-if="activity.visibility === 'public'">
            ·
              <a href="#" class="reshare" rel="nofollow">Reshare</a>
            </div>
            ·
            <a href="#" class="comment" rel="nofollow">Comment</a>
            </div>
        </div>
        </div>
  </div>
  </div>

</template>

<script>
import profileAPI from '@/services/api/profile.js'
import activityAPI from '@/services/api/activity.js'
import MediaAttachment from '@/components/embeds/media-attachment'
import PollEmbed from '@/components/embeds/poll'
export default {
  props: ['activity'],
  components: { MediaAttachment, PollEmbed },
  methods: {
    setLike: function (event) {
      if (this.activity.favourited === false) {
        activityAPI.likeStatus(this.activity.id)
        this.$refs.likeToggle.innerText = 'Unlike'
        this.activity.favourited = true
      } else {
        activityAPI.unlikeStatus(this.activity.id)
        this.$refs.likeToggle.innerText = 'Like'
        this.activity.favourited = false
      }
    }
  }
}
</script>

<style>
a.like, a.reshare, .reshare {
  display: inline-block;
}

.status .action-links a {
    color: #3f8fba;
    cursor: pointer;
}

.content_warning {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
}

.cw_inner {
  background: #ddd;
  position: relative;
  text-align: center;
  border-radius: 4px;
  padding: 25px;
  margin-left: auto;
}

.btn-cw {
  width: 100%;
  color: #999;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
}

</style>
