<template>
  <div class="activity-container">
    <div class="activity" v-if="activity.reblog">
          <Reshare v-bind:activity="activity"/>
      </div>
      <div class="activity" v-else>
          <Status v-bind:activity="activity"/>
    </div>
  </div>
</template>

<script>
import Status from '@/components/status/status'
import Reshare from '@/components/status/reshare'
import MediaAttachment from '../embeds/media-attachment'
export default {
  name: 'StreamActivity',
  props: ['activity'],
  components: { Status, Reshare }
}
</script>
