<template>
  <div id="app">
    <Headernav/>
    <scrollBack/>
    <main>
    <div class="container">
      <router-view></router-view>
    </div>
    </main>
  </div>
</template>

<script>
import Headernav from '@/components/nav/headernav'
import scrollBack from '@/components/nav/scrollback'
export default {
  name: 'app',
  components: {
    Headernav, scrollBack
  }
}
</script>

<style>
@import './assets/styles/entypo.css';
@import './assets/styles/style.css';
body {
  margin: 0;
}
</style>
