<template>
  <div id="scroll-to-top" :class="visibility">
    <a class="icon-up-open-mini back-to-top visible" id="back-to-top" title="Back to top" v-on:click="scrollUp"></a>
  </div>
</template>

<script>
export default {
  name: 'scrollBack',
  methods: {
    scrollUp: function (event) {
      if (event) {
        window.scrollTo({top: 0, behavior: 'smooth'})
      }
    }
  },
  computed: {
    visibility: function () {
      if (document.body.scrollHeight > 100) {
        let visibility = 'visible'
        return visibility
      } else {
        let visibility = 'invisible'
      }
    }
  }
}
</script>

<style>
  #scroll-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
  }

  .back-to-top.visible {
    opacity: .5;
    pointer-events: auto;
  }

  a.back-to-top {
    font-size: 3em;
    background: #a2a1a1;
    font-weight: 800;
    width: 70px;
    border-radius: 10px;
    color: #f0f0f0;
    transition: background 0.5s;
  }

  a.back-to-top:hover {
    text-decoration: none;
    background: #403f3f;
    transition: background 0.5s;
  }
</style>
